body {
    padding: 10px;
}
body, .app-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.app-header {
    width: 100%;
    margin-top: 20px;
}

.app-header > h1 {
    width: 100%;
    text-align: center;
}
#images {
    width: 80%;
}
#log {
    width: 20%;
}
#todos {
    width: 100%;
}
#task-add-block {
    width: 100%;
}

#search-form-block {
    width: 100%;
}
.app-image {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 10px;
    text-align: center;
}

.app-image > img {
    height: 200px;
    width: 300px;
}

#log-list > li {
    list-style: none;
    font-size: .8em;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

table tbody tr.row-added {
    animation: slide-up 1s ease;
}